.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 700px) {
  .container {
    margin-top: 3rem;
    flex-direction: row;
    align-items: center;
  }
}
