.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 700px) {
  .container {
    margin-top: 3rem;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 700px) {
  .repo {
    margin-top: 3rem;
  }
}

.title {
  margin-bottom: 3rem;
  min-height: 38px;
}
